@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');



$desktop: 1025px;
$table: 1024px;
$mobile: 767px; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.nav {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;

    //手機
    @media screen and (max-width: $mobile) {
        margin-top: 10px;
    }
}

.navbar .navbar-nav {
    text-align: center;
    margin: 0 auto;
    border: 0;
    background: black !important;
    font-size: 22px;
    padding: 0 30px;

    //手機
    @media screen and (max-width: $mobile) {
        padding: 0 10px;
    }
}

.nav img {
    width: 200px;
    height: 200px;

     //手機
     @media screen and (max-width: $mobile) {
        width: 125px;
        height: 125px;
    }
}

.nav-link {
    margin-top: 19%;
    font-family: 'Tinos', serif;
    letter-spacing: 1px;
}

#container {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

#container video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;

    @media screen and (max-width: $mobile) {
        width: 100%;
        height: 50vh;
    }
}

.overlay {
    position: relative;
    height: 1vh;
}

h1 {
    position: absolute;
    bottom: 5px;
    padding: 0 20px;
    color: white;
    text-align: center;
    align-items: center;
    font-family: "Piazzolla", serif;
    backdrop-filter: blur(8px);
    letter-spacing: 6px;
    

    // 電腦
    @media screen and (min-width: $desktop) {
        font-size: 36px;
    }

    // 平板
    @media screen and (max-width: $table) {
        margin-top: 500px;
        font-size: 24px;
    }
    // 手機
    @media screen and (max-width: $mobile) {
        font-size: 14px;
        margin-top: 100px;
        padding: 0 5px;
    }
}

hr {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: gray;
    border: 0;
}

p {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    font-family: "Sansita Swashed", cursive;
    letter-spacing: 1px;

    // 手機
    @media screen and (max-width: $mobile) {
        font-size: 12px;
    }
}

#copyright {
    font-size: 12px;
    background: black !important;
    width: 100%;
}
