@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.nav {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;

    //手機
    ＠media screen and (max-width:767px) {
        margin-top: 10px;
    }
}

.navbar-expand-lg .navbar-nav {
    text-align: center;
    margin: 0 auto;
    border: 0;
    background: black !important;
    font-size: large;
    padding: 0 20px;

    //手機
    ＠media screen and (max-width:767px) {
        padding: 0 10px;
    }
}

.nav img {
    width: 200px;
    height: 200px;

     //手機
     ＠media screen and (max-width:767px) {
        width: 125px;
        height: 125px;
    }
}

.nav-link {
    margin-top: 19%;
    font-family: "Piazzolla", serif;
}

#container {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

#container video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    @media screen and (max-width: 767px) {
        width: 100%;
        height: 50vh;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

h1 {
    padding: 0 20px;
    color: white;
    text-align: center;
    align-items: center;
    font-family: "Piazzolla", serif;
    backdrop-filter: blur(8px);
    letter-spacing: 6px;
    

    // 電腦
    @media screen and (min-width: 1025px) {
        margin-top: 650px;
        font-size: 32px;
    }

    // 平板
    @media screen and (max-width: 1024px) {
        margin-top: 500px;
        font-size: 24px;
    }
    // 手機
    @media screen and (max-width: 767px) {
        font-size: 14px;
        margin-top: 280px;
        padding: 0 5px;
    }
}

hr {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: gray;
    border: 0;
}

p {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    font-family: "Sansita Swashed", cursive;

    // 手機
    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

#copyright {
    font-size: 12px;
    background: black !important;
    width: 100%;
}
